<header class="main-header">
    <p class="logo">navbar</p>
    <input type="checkbox" name="" class="key">
    <div class="nav">
        <ol>
            <li><a href="#">HOME</a></ahref></li>
            <li><a href="login">LOGIN</a></ahref></li>
            <li><a href="register">REGISTER</a></ahref></li>
            <li><a href="#">SERVICES</a></li>

        </ol>
    </div>
</header>